<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>LoginServletCL</servlet-name>
    <servlet-class>com.bonehead.controller.LoginServletCL</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bonehead.view.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MainFrame</servlet-name>
    <servlet-class>com.bonehead.view.MainFrame</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Error</servlet-name>
    <servlet-class>com.bonehead.view.Error</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserCenter</servlet-name>
    <servlet-class>com.bonehead.view.UserCenter</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>LoginServletCL</servlet-name>
    <url-pattern>/LoginServletCL</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MainFrame</servlet-name>
    <url-pattern>/MainFrame</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Error</servlet-name>
    <url-pattern>/Error</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserCenter</servlet-name>
    <url-pattern>/UserCenter</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
